@font-face
  font-family 'BebasNeue'
  font-style bold
  font-weight bold
  src url('BebasNeue/BebasNeue%20Bold.ttf')format('ttf')
  src url ('BebasNeue/BebasNeue%20Bold.otf')format('otf')

@font-face
  font-family 'BebasNeue'
  font-style normal
  font-weight normal
  src url('BebasNeue/BebasNeue%20Regular.ttf')format('ttf')
  src url('BebasNeue/BebasNeue%20Regular.otf')format('otf')


