
borde_perfil = #3c3c3c

fondo = #272727
fondo_cintas = #e5e3e8

letras = #fff
letras_hover = #cd5f60
letras_titulo = #acacac
letras_cinta = #515151

skill_activo = #d1605c
skill_inactivo = #505050

html5 = #e84522
css3 = #4f8ac4
php = #064661
js = #f0da50